<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${title}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		body {padding: 10px; color:#666;}
		th {padding: 10px; 0px; background:#666; color:white;}
		td {padding: 10px; 0px; background:#ddd; color:333;}
	</style>
</head>
<body>
	<h1 th:text="${title}"></h1>
	<p th:text="${message}"></p>

	<form method="POST" action="/">
		<input type="text" name="find" th:value="${value}" />
		<input type="submit" value="検索" />
	</form>

	<table>
		<tr>
			<th>ID</th>
			<th>NAME</th>
			<th>MAIL</th>
		</tr>

		<tr th:each="entity : ${data}">
			<td th:text="${entity.id}"></td>
			<td th:text="${entity.name}"></td>
			<td th:text="${entity.mail}"></td>
		</tr>
	</table>


</body>
</html>